/* === POPULAR FLIGHTS SECTION === */
.popular-flights-section {
  background-color: rgb(248, 249, 250);
  background: url("../assets/cool-background.png") center/cover no-repeat;
  padding: 100px 0;
  color: #fff;
  position: relative;
  filter: brightness(0.9);
  color: rgb(33, 37, 41);
}

.popular-flights-section::before {
  content: "";
  position: absolute;
  inset: 0;

}

.popular-flights-section .container {
  position: relative;
  z-index: 2;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.section-subtitle {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 50px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.popular-flights-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  justify-items: center;
}

.flight-card {
  background: rgba(255, 255, 255);
  border-radius: 18px;
  overflow: hidden;
  transition: all 0.35s ease;
  max-width: 320px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  position: relative;
}

.flight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.flight-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(0,0,0,0));
  opacity: 0;
  transition: 0.3s;
}

.flight-card:hover::after {
  opacity: 1;
}

.flight-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.flight-info {
  padding: 20px;
  text-align: center;
}

.flight-info h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  margin-bottom: 8px;
}

.flight-info p {
  color: black;
  margin-bottom: 15px;
  font-size: 0.95rem;
}

.sarajevo{
    color: lightskyblue;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    letter-spacing:0.1cm
}

.cloud {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100px;
  opacity: 0.5;
  animation: flyCloud 60s linear infinite;
}
@keyframes flyCloud {
  from { transform: translateX(-150px); }
  to { transform: translateX(100vw); }
}